.navbar-brand {
    font-size: 21px;
    font-weight: 400;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-item {
    padding-left: 7px;
    padding-right: 7px;
}

nav .active {
    border-left: 1px solid gray;
}

#carouselExampleIndicators,
#about-page-header-section {
    margin-top: 56px;
}

.carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background: url('../img/image1.jpg');
    background-size: cover;
}

.carousel-image-2 {
    background: url('../img/image2.jpg');
    background-size: cover;
}

.carousel-image-3 {
    background: url('../img/image3.jpg');
    background-size: cover;
}

.content-3 {
    background-image: url(../img/lights.jpg);
    background-repeat: no-repeat;
    min-height: 200px;
    position: relative;
    background-attachment: fixed;
}

.dark-overlay {
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .8);
    position: absolute;
    height: 200px;
    width: 100%;
}

.content-5 {
    background-image: url(../img/media.jpg);
    background-repeat: no-repeat;
    min-height: 200px;
    position: relative;
    background-attachment: fixed;
}

.dark-overlay2 {
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .8);
    position: absolute;
    min-height: 200px;
    width: 100%;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}

#about-page-header-section {
    background: url('../img/image1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 250px;
}

.about-page-dark-overlay {
    position: absolute;
    top: 56;
    left: 0;
    width: 100%;
    min-height: 250px;
    background-color: rgb(0, 0, 0, 0.7);
}

.about-img {
    margin-top: -50px;
}

.carousel-inner,
.carousel-item {
    width: 100%;
    height: 120px;
}

@media (min-width: 502px) and (max-width: 884px) {
    .carousel-inner,
    .carousel-item {
        width: 100%;
        height: 140px;
    }
}

@media (min-width: 348px) and (max-width: 501px) {
    .carousel-inner,
    .carousel-item {
        width: 100%;
        height: 180px;
    }
}

@media (min-width: 316px) and (max-width: 347px) {
    .carousel-inner,
    .carousel-item {
        width: 100%;
        height: 200px;
    }
}

@media (min-width: 255px) and (max-width: 315px) {
    .carousel-inner,
    .carousel-item {
        width: 100%;
        height: 230px;
    }
}

@media (max-width: 254px) {
    .carousel-inner,
    .carousel-item {
        width: 100%;
        height: 270px;
    }
}