body {
    background: #333;
}

#navbarId {
    border-bottom: 3px solid darkcyan;
    opacity: .8;
}

#homeSection {
    background-image: url(../img/home.jpg);
    min-height: 700px;
}

#homeSection .dark-overlay {}